@import "./utils/mixins";
@import "./utils/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 10px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.header__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: $color-dark;
  // background-color: red;
  padding: 0 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10042;
  .logo {
    img {
      width: 50px;
    }
  }
}

.main__content {
  width: 100%;

  .cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: url("/public/images/bg/stadium_background.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #000000, #00000055);
    }
  }
  .main__container {
    padding-top: 7rem;
    position: relative;
    display: flex;
    z-index: 3;
    .player__card-pic {
      transition: transform 0.7s ease;
    }
    .squad__player:hover .player__card-pic {
      filter: drop-shadow(0 0 1rem #1552a87d);
      cursor: grab;
      // transform: rotateY(360deg);
    }
    .line__up {
      width: 65%;
      display: flex;
      justify-content: center;
      padding: 80px;

      .squad__list-content {
        position: relative;
        width: 80rem;
        box-shadow: 0 0 20px 10px #00000055;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
          ". lat lat fat fat rat rat ."
          ". lcm lcm cdm cdm rcm rcm ."
          "lb lb clb clb crb crb rb rb"
          ". . . gk gk . . .";
        gap: 6rem 3rem;
        padding: 3rem;
        transition: grid-template-areas 2s ease;
        border-radius: 15px;
        overflow: hidden;
        .squad__player {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 3;
          // &:hover {
          //   transform: scale(1.2);
          // }
        }
        #squad__gk {
          display: flex;
          justify-content: center;
          align-items: end;
          grid-area: gk;
        }
        #squad__rb {
          grid-area: rb;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #squad__crb {
          grid-area: crb;
          display: flex;
          justify-content: center;
          align-items: end;
        }
        #squad__clb {
          grid-area: clb;
          display: flex;
          justify-content: center;
          align-items: end;
        }
        #squad__lb {
          grid-area: lb;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #squad__rcm {
          grid-area: rcm;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #squad__cdm {
          grid-area: cdm;
          display: flex;
          justify-content: center;
          align-items: end;
        }
        #squad__lcm {
          grid-area: lcm;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #squad__rat {
          grid-area: rat;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #squad__fat {
          grid-area: fat;
          display: flex;
          justify-content: center;
          align-items: end;
        }
        #squad__lat {
          grid-area: lat;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .stadium__lines {
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $color-secondary;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .player__card-pic {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // padding: 2rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
      .player__stats {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: blue;
        .player__picture {
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .player__setting.active .st__icon {
          display: flex;
          transform: scale(1);
        }
        .player__setting {
          position: absolute;
          right: 0;
          top: 10px;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          z-index: 20;
          cursor: pointer;
          .setting__icon {
            &:hover svg {
              .cls-1 {
                fill: #300fb3;
              }
            }
          }
          .st__icon {
            width: 30px;
            height: 30px;
            background-color: #4e28eb;
            border-radius: 0.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 12px 1px #130353a1;
            transform: scale(0.1);
            transition: transform 0.4s ease;
            display: none;
            &:hover {
              background-color: #300fb3;
            }
            svg {
              fill: $color-text-primary;
            }
          }
        }
        .player__rating {
          position: absolute;
          top: 3.2rem;
          left: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.1rem;
          .player__rating-rate {
            font-size: $fz-lg;
            font-weight: 600;
            color: $color-text-primary;
          }
          .player__rating-position {
            font-size: $fz-sm;
            font-weight: 600;
            color: $color-text-primary;
            text-transform: uppercase;
          }
        }
        .player__infos {
          position: absolute;
          bottom: 2rem;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          color: $color-text-primary;
          background: linear-gradient(
            to bottom,
            transparent,
            #0c06ba,
            transparent
          );
          width: 85%;
          padding-top: 2.5rem;
          .player__infos-name {
            display: flex;
            justify-content: center;
            align-items: center;
            span {
              font-size: $fz-md;
              font-weight: 600;
              line-height: 1;
              text-align: center;
            }
          }
          .player__infos-stats {
            ul {
              display: flex;
              justify-content: center;
              gap: 0.5rem;
              li {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.2rem;
                span {
                  font-size: $fz-xs;
                  line-height: 1;
                  font-weight: 600;
                  &:last-child {
                    font-weight: 700;
                    font-size: $fz-sm;
                  }
                }
              }
            }
          }
          .player__infos-row {
            ul {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              margin-top: 0.4rem;
              li {
                list-style-type: none;
                img {
                  width: 10px;
                  height: 10px;
                  object-fit: fill;
                }
              }
            }
          }
        }
      }
    }
    .player__state {
      height: 100vh;
      width: 35%;
      background-color: $color-transparent;
      overflow-y: auto;
      position: fixed;
      top: 0;
      right: 0;
      padding-top: 7rem;
      .player__state-content {
        width: 100%;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        h3 {
          font-size: $fz-md;
          color: $color-text-primary;
        }
        label {
          font-size: $fz-sm;
          color: $color-text-placeholder;
          margin-bottom: 1rem;
        }
        input,
        select {
          width: 100%;
          height: 4.5rem;
          background-color: $color-secondary;
          padding: 1rem;
          border-radius: 0.5rem;
          border: 0.1rem solid $color-text-placeholder;
          color: $color-text-placeholder;
          outline: none;
          margin-top: 1rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          &:focus {
            border: 0.2rem solid $color-text-primary;
          }
        }
        select {
          cursor: pointer;
        }
        .add__player {
          display: flex;
          flex-direction: column;
          gap: 3rem;
        }
        // #goolkeeper__form.active {
        //   display: block;
        // }
        // #goolkeeper__form {
        //   display: none;
        // }
        // .o-p-form.active {
        //   display: block;
        // }
        .o-p-form {
          // display: none;
          form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .row {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 2rem;
            }
            .add__player-btn {
              display: flex;
              flex-direction: column;
              justify-content: end;
              button {
                height: 4.5rem;
                width: 100%;
                padding: 0 2rem;
                background-color: rgb(70, 112, 236);
                color: $color-text-primary;
                border: none;
                outline: none;
                border-radius: 0.5rem;
                cursor: pointer;
                font-size: $fz-md;
                font-weight: 500;
                &:hover {
                  background-color: rgb(31, 69, 183);
                }
              }
            }
          }
        }

        .substitutes__list {
          margin-top: 2rem;
          #substitutes__list {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .sub__list-item {
              width: 100%;
              background: linear-gradient(
                to right,
                rgb(111, 12, 12),
                rgb(2, 29, 47)
              );
              // padding: 1rem;
              border-radius: 1rem;
              display: grid;
              grid-template-columns: repeat(6, 1fr);
              position: relative;
              overflow: hidden;
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: url("/public/images/card-templates/sub-bg.png");
                background-position: center;
                background-size: cover;
                z-index: 0;
              }
              .sub__right-part {
                position: relative;
                grid-column: span 2 / span 2;
                .player__id-pic {
                  position: absolute;
                  left: 0;
                  top: 0;
                  height: 100%;
                  width: 100%;
                  img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                  }
                }
                .player__id-rating {
                  position: absolute;
                  top: 0;
                  left: 0;
                  font-size: $fz-lg;
                  color: $color-text-primary;
                  font-weight: 700;
                  background-color: #000000b5;
                  padding: 1rem;
                  border-bottom-right-radius: 1rem;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 0.3rem;
                  span {
                    &:last-child {
                      font-size: $fz-sm;
                      text-transform: uppercase;
                    }
                  }
                }
              }
              .sub__left-part {
                grid-column: span 4 / span 4;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;
                position: relative;
                z-index: 5432;
                .player__id-name {
                  font-size: $fz-lg;
                  color: $color-text-primary;
                  font-weight: 600;
                }

                .player__sub-stats {
                  ul {
                    display: flex;
                    align-items: start;
                    gap: 1rem;
                    li {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      gap: 0.2rem;
                      span {
                        color: $color-text-primary;
                        font-size: $fz-sm;
                        &:last-child {
                          font-size: $fz-md;
                          font-weight: 600;
                        }
                      }
                    }
                  }
                }
                .player__sub-row {
                  ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    li {
                      img {
                        width: 25px;
                        height: 25px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#sort {
  display: flex;
  flex-direction: column;
  gap: 20px;

  li {
    width: 100%;
    height: 50px;
    background-color: red;
  }
}
