@import "./utils/mixins";
@import "./utils/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 10px;
}

.header__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: $color-dark;
  padding: 0 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10042;
  .logo {
    img {
      width: 50px;
    }
  }
}

.main__content {
  width: 100%;

  .cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: url("/public/images/bg/stadium_background.webp");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #000000, #00000055);
    }
  }
  .main__container {
    padding-top: 7rem;
    position: relative;
    display: flex;
    z-index: 3;
    // .player__card-pic {
    //   transition: transform 1s ease;
    // }
    // .squad__player:hover .player__card-pic {
    //   filter: drop-shadow(0 0 1rem #2e58939c);
    //   cursor: grab;
    //   transform: rotateY(360deg);
    // }
    .line__up {
      width: 65%;
      display: flex;
      justify-content: center;
      padding: 50px;
      padding-top: 80px;
      padding-bottom: 150px;

      .squad__list-content {
        position: relative;
        width: 680px;
        // height: 850px;
        background-color: $color-secondary;
        box-shadow: 0 0 20px 10px #00000055;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
          ". lat lat fat fat rat rat ."
          ". lcm lcm cdm cdm rcm rcm ."
          "lb lb clb clb crb crb rb rb"
          ". . . gk gk . . .";
        gap: 3rem;
        padding: 3rem;
        &:hover {
          grid-template-areas:
          ". lat lat fat fat rat rat ."
          "lcm lcm cdm cdm rcm rcm crb crb"
          ". lb lb clb clb rb rb ."
          ". . . gk gk . . .";
        }
        transition: grid-template-areas 2s ease;
        .squad__player {
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 3;
          .player__card-pic {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // padding: 2rem;
            img {
              width: 100%;
              height: 100%;
              object-fit: fill;
            }
            .player__stats {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              // background-color: blue;
              .player__picture {
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              .player__rating {
                position: absolute;
                top: 2.7rem;
                left: 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.1rem;
                .player__rating-rate {
                  font-size: $fz-md;
                  font-weight: 600;
                  color: $color-text-primary;
                }
                .player__rating-position {
                  font-size: $fz-sm;
                  font-weight: 600;
                  color: $color-text-primary;
                }
              }
              .player__infos {
                position: absolute;
                bottom: 13px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                color: $color-text-primary;
                .player__infos-name {
                  display: flex;
                  justify-content: center;
                  span {
                    font-size: $fz-md;
                    font-weight: 600;
                    line-height: 1;
                    text-shadow: 1px 1px #0000006c;
                  }
                }
                .player__infos-stats {
                  ul {
                    display: flex;
                    gap: 0.3rem;
                    li {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      gap: 0.2rem;
                      span {
                        font-size: $fz-xxs;
                        line-height: 1;
                        &:last-child {
                          font-weight: 700;
                          font-size: $fz-xs;
                        }
                      }
                    }
                  }
                }
                .player__infos-row {
                  ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    li {
                      list-style-type: none;
                      img {
                        width: 10px;
                        height: 10px;
                        object-fit: fill;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        #squad__gk {
          display: flex;
          justify-content: center;
          align-items: end;
          grid-area: gk;
        }
        #squad__rb {
          grid-area: rb;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #squad__crb {
          grid-area: crb;
          display: flex;
          justify-content: center;
          align-items: end;
        }
        #squad__clb {
          grid-area: clb;
          display: flex;
          justify-content: center;
          align-items: end;
        }
        #squad__lb {
          grid-area: lb;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #squad__rcm {
          grid-area: rcm;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #squad__cdm {
          grid-area: cdm;
          display: flex;
          justify-content: center;
          align-items: end;
        }
        #squad__lcm {
          grid-area: lcm;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #squad__rat {
          grid-area: rat;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #squad__fat {
          grid-area: fat;
          display: flex;
          justify-content: center;
          align-items: end;
        }
        #squad__lat {
          grid-area: lat;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .stadium__lines {
          position: absolute;
          z-index: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .player__state {
      height: 100vh;
      width: 35%;
      background-color: $color-transparent;
      overflow-y: auto;
      position: fixed;
      top: 0;
      right: 0;
      padding-top: 7rem;
      .player__state-content {
        width: 100%;
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        h3 {
          font-size: $fz-md;
          color: $color-text-primary;
        }
        label {
          font-size: $fz-sm;
          color: $color-text-placeholder;
          margin-bottom: 1rem;
        }
        input,
        select {
          width: 100%;
          height: 4.5rem;
          background-color: $color-secondary;
          padding: 1rem;
          border-radius: 0.5rem;
          border: 0.1rem solid $color-text-placeholder;
          color: $color-text-placeholder;
          outline: none;
          margin-top: 1rem;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          &:focus {
            border: 0.2rem solid $color-text-primary;
          }
        }
        .add__player {
          display: flex;
          flex-direction: column;
          gap: 3rem;
        }
        .o-p-form {
          form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .row {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 2rem;
            }
          }
        }

        .substitutes__list {
          ul {
            margin-top: 3rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
          }
        }
      }
    }
  }
}
